/*span {
	font-size: 20px;
	color: red;
}
.BBKING{
	font-size: 40px;
	color: red;
}*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav, footer, header, aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}


.arial{
	font-family: Arial;
}
.fontsize29{
	font-size: 30px;
}
.italic{
	font-style: italic;
}
.font700{
	font-weight: 700;
}
.color700{
	color: #f00f00;
}
.textright700{
	text-align: right;
}
.dec700{
	text-decoration: underline;
}
.shadow700{
	text-shadow: 1px 1px 4px #000000;
}
.transform700{
	text-transform: capitalize;
}
.ident70{
	text-indent: 50px;
	letter-spacing: 5px;
	word-spacing: 20px;
	white-space: nowrap;
}